<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Instrumentation</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <style>
        body {
            display: grid;
            grid-template-areas:
                    "header header header"
                    "article article article"
                    "footer footer footer";
            grid-template-rows: 60px 1fr 60px;
            grid-template-columns: 15% 1fr 15%;
            grid-gap: 10px;
            height: 100vh;
            margin: 0;
        }
        header, footer, article, nav, div {
            padding: 20px;
            background-color: gold;
        }
        #pageHeader {
            grid-area: header;
            text-align: center;
        }
        #pageFooter {
            grid-area: footer;
	    background-color: white;
        }
        #mainArticle {
            grid-area: article;
            background-color: white;
            padding:0;
            margin:0;

		display:grid;
		grid-templete-areas: "codeForm checkOptionDiv2";
		grid-templete-colums: 80% 20%;
		grid-gap: 10px;
		height:100vh;
        }
	#codeForm {
		display:grid;
		grid-templete-area: "code1 originCode" "code2 instrumentedCode";
		grid-templete-rows: 5% 95%;
		grid-templete-colums: auto auto;
		grid-gap: 10px;
		height:100vh;
		margin:0;
		border: 1px solid green;
	}
	#checkOptionDiv2 {
		border:1px solid red;
	}

        h1, h2, h3, h4, h5 {
            text-align: center;
            margin: 0;
        }
	/*.lined {
		background: url(http://i.imgur.com/2cOaJ.png);
		background-attachment: local;
		background-repeat: no-repeat;
		padding-left: 35px;
		padding-top: 10px;
		border-color:#ccc;
	}*/
    </style>
</head>
<body onload="check();">
<header id="pageHeader"><h2>Code Instrumentation</h2></header>
<article id="mainArticle">
        <form action="http://203.252.195.182:3030/code/checkOption" method="POST" id="codeForm">
                	<!--h4 id="code1">Enter Code</h4>
                	<% if (oricode) { %>
                	<textarea class="lined" rows="40" cols="85" style="resize:none;display:inline;margin:0;font-size:12pt;" name="content" id="originCode"><%=oricode%></textarea>
                	<% } else { %>
                	<textarea class="lined" rows="40" cols="85" style="resize:none;display:inline;margin:0;font-size:12pt;" name="content" id="originCode"></textarea>
			<% } %>
			<input type="submit" value="check option">
		<% if (checkOption) { %>
		<div id="checkOptionDiv" style="display:none"><%=checkOption%></div>
		<% } else { %>
		<div id="checkOptionDiv" style="display:none"></div>
		<% } %>
                <h4 id="code2">Instrumented Code</h4>
                <% if (concode) { %>
                <textarea class="lined" rows="40" cols="85" style="resize:none;display:inline;margin:0;font-size:12pt;" name="content2" id="instrumentedCode"><%=concode%></textarea>
                <% } else { %>
                <textarea class="lined" rows="40" cols="85" style="resize:none;display:inline;margin:0;font-size:12pt;" name="content2" id="instrumentedCode"></textarea>
		<% } %>-->
        </form>
	<div id="checkOptionDiv2">a</div>
</article>
<footer id="pageFooter">Footer</footer>
</body>
	<script>
		function check() {
			var a = document.getElementById("checkOptionDiv").innerText;
			if(a) {
				var b = a.split('\n');
				var d = [];
				var events = [];
				var actions = [];
				var methods = [];
				var list_string = "<form action=\"http://203.252.195.182:3030/code/convert\" method=\"POST\"><ul style=\"list-style:none\">";
				for(var i = 0; i < b.length-1; i++) {
					var c = b[i].substring(1, b[i].length-1);
					d.push(c);
					
				}
				for(var i = 0; i < d.length; i++) {
					var temp = d[i].split(',');
					console.log(temp[0]);
					if(temp[0] == "type:event") {
						var index = temp[1].indexOf(':');
						events.push(temp[1].substring(index+1));
					}
					if(temp[0] == "type:action") {
						var index = temp[1].indexOf(':');
						actions.push(temp[1].substring(index+1));
					}
					if(temp[0] == "type:method") {
						var index = temp[1].indexOf(':');
						methods.push(temp[1].substring(index+1));
					}
				}
				for(var i = 0; i < events.length; i++) {
					if(i == 0) list_string += "<li>events list</li>";
					list_string += "<li><input type=\"checkbox\" name=\"event" + i + "\" value=\"" + events[i] + "\">" + events[i] + "</li>";
				}
				for(var i = 0; i < actions.length; i++) {
					if(i == 0) list_string += "<li>actions list</li>";
					list_string += "<li><input type=\"checkbox\" name=\"action" + i + "\" value=\"" + actions[i] + "\">" + actions[i] + "</li>";
				}
				for(var i = 0; i < methods.length; i++) {
					if(i == 0) list_string += "<li>methods list</li>";
					list_string += "<li><input type=\"checkbox\" name=\"method" + i + "\" value=\"" + methods[i] + "\">" + methods[i] + "</li>";
				}
				list_string += "</ul>";
				list_string += "<input type=\"submit\" value=\"instrumentation\"></form>";
				document.getElementById("checkOptionDiv2").innerHTML = list_string;

			}
		}
	</script>
</html>
