<!DOCTYPE HTML>
<!--
	TXT by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>SmartApp Monitor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<div class="logo container">
						<div>
							<a href="main" id="logo"><img src="images/analytics-monitor.png" width="70" height="70"></a>
							<p>Smart App Monitor</p>
						</div>
					</div>
				</header>

			<!-- Main -->
				<section id="main">
					<div class="container" style="width:100%;">
						<div class="row gtr-200">
							<div class="col-12">

								<!-- Highlight -->
									<section class="box highlight">
										<ul class="special">
											<li><a href="http://203.252.195.182:3030/code" class="icon fa-file-code-o"><span class="">Code Instrument</span></a></li>
											<li><a href="https://graph.api.smartthings.com/" class="icon fa-cog"><span class="">SmartThings IDE</span></a></li>
											<li><a href="http://203.252.195.182:8080/realtime" class="icon fa-search"><span class="">Real Time Monitor</span></a></li>
											<li><a href="profile_main" class="icon fa-archive"><span class="">Profile</span></a></li>
											<li><a href="profile_main2.html" class="icon fa-tablet"><span class="">Profile2</span></a></li>
											<!--<li><a href="urlParsingTest.html?appName=Darken Behind Me" class="icon fa-flask"><span class="">TEST</span></a></li>-->
											<!--<li><a href="#" class="icon fa-cog"><span class="label">Cog?</span></a></li> -->
										</ul>
										<header>
											<h2>Smart App Monitoring Services</h2>
											<!--<p>And some text that attempts to explain their significance</p> -->
										</header>
										<p>
											This is the site of Smart App Monitoring Services<br />
											first, convert the Smart App Code with Smart App Code Instrument Tool.<br />
											Next, publish the converted smart app and Smart Monitor Handler Code in SmartThings IDE. <br />
											Finally, you can monitor the installed Smart App.
											<br />
											<br />
											<br />
											<a href="https://raw.githubusercontent.com/dianakoh/SmartThings_GY/master/devicetypes/dianakoh/smartappmonitor2.src/smartappmonitor2.groovy?token=AR3ekZgFoo6388Fe3UPSbZ6HugJehyCPks5bvGjfwA%3D%3D">SmartAppMonitor Device Handler code</a>
										</p>
									</section>

							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-12">

							</div>
						</div>

						<!-- Copyright -->

							<div id="copyright">
								<ul class="menu">
									<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
								</ul>
							</div>

					</div>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>